body {
    background-color: #4A4A4A;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px
}

.container {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
}

.containerOut {
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerL h3 {
    text-align: center;
}

.containerL input {
    margin: 10px;
    border: none;
    border-radius: 5px;
}

.Login input {
    display: flex;
    height: 40px;
    flex-direction: column;
    padding: 0 15px 0 15px;
}

.icon-input {
    position: relative;
    display: flex;
    align-items: center;
}

.icon-input input {
    padding-left: 50px;
    /* Asegúrate de ajustar este valor según el tamaño del ícono */
}

.icon-input::before {
    content: "📩";
    /* Aquí puedes poner el código Unicode del ícono que prefieras */
    position: absolute;
    color: black;
    left: 25px;
    font-size: 16px;
    pointer-events: none;
    /* Para que el ícono no interfiera con el campo de entrada */
}

.icon-inputP {
    position: relative;
    display: flex;
    align-items: center;
}

.icon-inputP input {
    padding-left: 50px;
    /* Asegúrate de ajustar este valor según el tamaño del ícono */
}

.icon-inputP::before {
    content: "🔒";
    /* Aquí puedes poner el código Unicode del ícono que prefieras */
    position: absolute;
    left: 25px;
    font-size: 16px;
    pointer-events: none;
    /* Para que el ícono no interfiera con el campo de entrada */
}

#log {
    display: flex;
    text-align: center;
    font-weight: bold;
    padding: 0 65px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#log:hover {
    background-color: rgb(189, 189, 189);
    transform: scale(1.05);
}

#check {
    display: flex;
    flex-direction: row;
    height: 40px;
}

#label {
    font-size: smaller;
}

.ORW p {
    text-align: center;
    margin: 20px 0 20px;
    font-size: smaller;
}

.ORW b {
    cursor: pointer;
}

.socialMedia {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.socialMedia button {
    text-align: center;
    width: 100px;
    font-size: medium;
    height: 35px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.socialMedia #Facebook {
    background-color: #355ee5;
}

.socialMedia #Google {
    background-color: #E53935;
}

.socialMedia #Twitter {
    background-color: #35a4e5;
}

.socialMedia button:hover {
    transform: scale(1.05);
}

.piri {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.piri p {
    margin: 8px 10px;
    font-style: bold;
    font-size: smaller;
    padding: 2px 0 0 0;
    cursor: pointer;
}

.containerR {
    height: 100vh;
    background-image: url("https://cdn.eldeforma.com/wp-content/uploads/2020/03/hacker-meme-e1604368158422.png");
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 500px) {
    .containerL h3 {
        text-align: center;
    }

    .containerL {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-left: 50px;
        height: 100vh;
    }

    #log { 
        padding: 0px 170px;
    }

    .containerR {
        display: none;
    }
}